.gradient-icon {
  font-size: 2rem;  
  background: linear-gradient(45deg, rgb(50, 69, 122),rgb(148, 224, 148), rgb(227, 162, 60));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;  
}